<div ng-app="angularApp">

  <div ng-controller="chartCtrl">

    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
      chart-series="series" height="300" width="500"></canvas>

  </div>

</div>